.cartaoASerAvaliado{
  height: 16%;
  border: solid 1px var(--primary);
  border-radius: 8px;
  margin-top: 5px;
  width: 88%;
  display: flex;
  color: white;
}
.avaliaCardDiv{
  height: 84vh;
  display: flex;
  justify-content: center;
  background-color: #212121;
}
.direita{
  border-right: solid 2px var(--primary);
  margin: 4px;
}
.esquerda{
  margin: 4px;
}