.allflashCardDiv{
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardDiv{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    background-color: black;
    width: 100%;
    color: #8AC26D;
}

.erroHeader{
    color:#8AC26D;
}
.errorDiv{
    padding-top: 16px;
    text-align: center;
}
.cardContent{
    width: 100%;
    height: 70%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.textDiv{
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-weight: bold;
    color: #8AC26D;
    background: black;
}
.flashCardTextDiv{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    padding: 16px;
}
.divButton{
    height: 7vh;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8px;

}
.divButton button{
    width: 100%;
    height: 100%;
    background-color: #8AC26D;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}
.errorButton{
    height: 100%;
    color: #aa29ed;
    font-weight: bold;
    font-size: 15px;

}
.iconDiv{
    width: 5vh;
    justify-content: center;
    display: flex;
}