body.active-modal{
    overflow-y: hidden;
}
.modalDiv2, .overlay2{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay2{
    background:rgba(49, 49, 49, 0.8) !important;
}
.modalContent2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: black;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    height: 40%;

}
.buttonsDiv2{
    display: grid;
    height: 83%;
    padding-right: 5px;
}
.closeDiv2{
    font-weight: bold;
    color: #8AC26D;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}
.divCampoNovoImportar{
    font-weight: bold;
    background-color: #8AC26D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
