.allHeader {
    background-color: #8AC26D;
    height: 8vh;
    position: sticky; /* Alteração para sticky */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}
.returnDiv{    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;}
.deckIdDiv{    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;}
.coinsDiv{    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;}

.notificacao{
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    position: sticky;
    top: 36px;
    /* left: 49px; */
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}
.qntCartoes{
    font-size: 12px;
    font-weight: bold;
}