.allHeader{
    background-color: #8AC26D;
    height: 8vh;
    position:absolute;
    left:0;
    top:0;
    right:0;
    display: flex;
    justify-content: space-evenly;
}
.allHeader div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
